/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    text-align: center;
    padding: 2rem 0; /* Increase the vertical padding to make the header taller */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#about {
    text-align: center;
    padding-top: 15%;
    font-size: 18px;
}

/* Add specific styles for each page as needed */
nav {
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
}
section {
    width: 100%;
    height: 100vh; /* Set the height to 100vh to span the entire screen */
    padding: 20px;
    padding-top: 10%;
    text-align: center;
    background-color: #f8f8f8;
}
.fixed-header {
    width: 100%;
    height: auto; /* Adjust this value as needed to control the overall height */
    overflow: hidden; /* Hide overflow content outside the viewport */
    position: relative;
}

/* CSS for smooth scrolling */
html {
    scroll-behavior: smooth; /* Enable smooth scrolling behavior */
}

/* CSS for the resume section */
#cv {
    font-family: monospace;
    background-color: #090326;
    color: #fff;
    padding: 20px;
    padding-top: 5%;
    text-align: left;
    font-size: 18px;
    white-space: pre; /* Preserve whitespace and line breaks */
}

.comment {
    color: #7b7a80;
}

.operator {
    color: white; /* Gray color for operators like "=" */
}

.string {
    color: #e3e036;
}

.variable {
    color: #9ccce6; /* Dark blue color for variable names like "name" */ 
}

.keyword {
    color: #3c9ed6; /* Light blue color for keywords like "this" */ 
}

.int {
    color: #e67f12;
}

.tooltip {
    display: inline-block;
    cursor: pointer;
}

//* CSS for the window-like tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-window {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    width: 25%; /* Set the width to 25% of the viewport */
    top: 50%; /* Position the tooltip in the middle vertically */
    left: 50%; /* Position the tooltip in the middle horizontally */
    transform: translate(-50%, -50%); /* Center the tooltip */
    text-align: left; /* Adjust the alignment as needed */
    max-height: 50vh; /* Set a maximum height of 50% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    white-space: pre-line; /* Preserve line breaks in the text */
}

.tooltip:hover .tooltip-window {
    visibility: visible;
    opacity: 1;
}

#projects ul {
    list-style-type: disc; /* Use bullet points for the list items */
    text-align: center;
    font-size: 24px;
}

#projects ul li {
    max-width: 90%; /* Set a maximum width for the description text */
    margin-bottom: 5%; /* Add some spacing between each project */
    text-align: center;
}

.title-container {
    text-align: center; /* Center-align the title and the line */
}

/* CSS for the horizontal line */
.title-line {
    width: 50%; /* Adjust the line's width as needed */
    border: none;
    height: 1px;
    background-color: #000; /* Line color */
    margin: 10px auto; /* Center the line horizontally and add spacing */
}

/* CSS for the contact section */
#contact {
    text-align: center;
    margin: 20px; /* Add margin for spacing */
}

/* CSS for the icons */
#contact a {
    text-decoration: none;
    color: #333; /* Text color for the links */
    margin: 10px; /* Add margin around the icons */
}

#contact a:hover {
    color: #0077B5; /* Color change on hover (LinkedIn) */
}




